@import "./variables";


@mixin generate-flexbox-grid($size, $min-colums, $max-colums, $gutter) {
  // Mixin to generate the flexbox grid
  @for $i from $min-colums through $max-colums {
    @if $i != 0 {
      .col-#{to-lower-case($size)}-#{$i} {
        @if $size == "XS" {
          flex-basis: $i * (100% / $max-colums);
          width: $i * (100% / $max-colums);
          max-width: #{($i * (100% / $max-colums))};
          @if $gutter != 0 { padding-right: $gutter + px; }
        }

        @if $size == "S" {
          @include S {
            flex-basis: $i * (100% / $max-colums);
            width: $i * (100% / $max-colums);
            max-width: #{($i * (100% / $max-colums))};
            @if $gutter != 0 { padding-right: $gutter + px; }
          }
        }

        @if $size == "M" {
          @include M {
            flex-basis: $i * (100% / $max-colums);
            width: $i * (100% / $max-colums);
            max-width: #{($i * (100% / $max-colums))};
            @if $gutter != 0 { padding-right: $gutter + px; }
          }
        }

        @if $size == "L" {
          @include L {
            flex-basis: $i * (100% / $max-colums);
            width: $i * (100% / $max-colums);
            max-width: #{($i * (100% / $max-colums))};
            @if $gutter != 0 { padding-right: $gutter + px; }
          }
        }

        @if $size == "XL" {
          @include XL {
            flex-basis: $i * (100% / $max-colums);
            width: $i * (100% / $max-colums);
            max-width: #{($i * (100% / $max-colums))};
            @if $gutter != 0 { padding-right: $gutter + px; }
          }
        }
      }
    }
  }

  /* Don't need the full panel of classes, just have of it */
  @for $i from $min-colums through ($max-colums) {
    @if $i != 0 {
      @if $size == "XS" {
        .col-offset-#{$i} {
          margin-left: $i * (100% / $max-colums);
        }
      }

      .col-offset-#{$size}-#{$i} {
        @if $size == "S" {
          @include S {
            margin-left: $i * (100% / $max-colums);
          }
        }

        @if $size == "M" {
          @include M {
            margin-left: $i * (100% / $max-colums);
          }
        }

        @if $size == "L" {
          @include L {
            margin-left: $i * (100% / $max-colums);
          }
        }

        @if $size == "XL" {
          @include XL {
            margin-left: $i * (100% / $max-colums);
          }
        }
      }
    }
  }

  /* Don't need the full panel of classes, just have of it */
  @for $i from $min-colums through ($max-colums / 2) {
    @if $i != 0 {
      @if $size == "XS" {
        .col-right-offset-#{$i} {
          margin-right: $i * (100% / $max-colums);
        }
      }

      .col-#{$size}-right-offset-#{$i} {

        @if $size == "S" {
          @include S {
            margin-right: $i * (100% / $max-colums);
          }
        }

        @if $size == "M" {
          @include M {
            margin-right: $i * (100% / $max-colums);
          }
        }

        @if $size == "L" {
          @include L {
            margin-right: $i * (100% / $max-colums);
          }
        }

        @if $size == "XL" {
          @include XL {
            margin-right: $i * (100% / $max-colums);
          }
        }
      }
    }
  }

}
