@import "../../globals/breakpoints";

.grid-ghost {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

.full-height,
.item {
    height: 100%;
}

.item:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.1);
}

.item:nth-child(n+18) {
    display: none;

    @include S {
        display: block;
    }
}