@import "./variables";
@import "./breakpoints";
@import "./mixins";


@include generate-flexbox-grid("XS", 0, $nb-columns-XS, 0);
@include generate-flexbox-grid("S", 0, $nb-columns-S, 0);
@include generate-flexbox-grid("M", 0, $nb-columns-M, 0);
@include generate-flexbox-grid("L", 0, $nb-columns-L, 0);
@include generate-flexbox-grid("XL", 0, $nb-columns-XL, 0);

/*
  For more information about flex, check out Chris Coyier's article: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  Based on -> https://github.com/kristoferjoseph/flexboxgrid/blob/master/css/flexboxgrid.css
*/

/* ---- Flex alignment classes ---- */

.grid-container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.full {
    margin: 0;
    padding: 0;
  }
}

.col {
  display: flex;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}

/* Vertical Align */
.vertical-align-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Justify-content */

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.center-only-mobile {
  justify-content: center;

  @include M {
    justify-content: initial;
  }
}

.end {
  justify-content: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

/* Align-items */

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.column {
  flex-direction: column;
}

/* Order */

.first {
  order: -1;
}

.last {
  order: 1;
}

/* offset one left/right (gutter simulation) */
.gutter-1 {
  margin-left: (100% / $nb-columns-XS);
  margin-right: (100% / $nb-columns-XS);

  @include S {
    margin-left: (100% / $nb-columns-S);
    margin-right: (100% / $nb-columns-S);
  }

  @include M {
    margin-left: (100% / $nb-columns-M);
    margin-right: (100% / $nb-columns-M);
  }

  @include L {
    margin-left: (100% / $nb-columns-L);
    margin-right: (100% / $nb-columns-L);
  }

  @include XL {
    margin-left: (100% / $nb-columns-XL);
    margin-right: (100% / $nb-columns-XL);
  }
}

